/* common style*/
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Joan',  sans-serif;
}

a {
    text-decoration: none;
}

.active {
    background-color: rgba(167, 242, 186, 0.6);
}


p {
   color: black; 
   text-align: left;
   font-size: 1.1rem;
   line-height: 1.3rem;
   font-weight: 200;
   letter-spacing: 0.02rem;
}
/* nav and logo*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Joan',  sans-serif;
    /*background-color: rgba(76, 84, 71, 0.8);*/
    background-color: black;
}
.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
 

}
.navigation-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.navigation-links li {
    list-style: none;
}

.navigation-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.938rem;
}
.navigation-links a:hover {
    border-bottom: 2px solid black;
}
/* burger menu*/

.burger-menu div {
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 3px;
}
.burger-menu {
    display: none;
    cursor: pointer;
}

h2 {
    color: rgb(2, 2, 2);
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .01rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: rgb(2, 2, 2);
    font-weight: 300;
    font-size: .65rem;
    letter-spacing: .01rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


h4 {
    color: rgb(2, 2, 2);
    font-size: 20px;
    margin-top: 2px;
    line-height: 2rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-bottom: 8px;

}
p {
    color: rgb(2, 2, 2);
    font-size: 20px;
    margin-top: 2px;
    line-height: 2rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-bottom: 8px;

}
/* media links for burger menu*/

/*@media screen  and (max-width:1024px) {
    .navigation-links {
        width: 60%;
    }
    
}*/

@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }
    .navigation-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        background-color: rgb(74, 80, 71);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navigation-links li {
        opacity: 0;
    }
    .burger-menu {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }
}
/* hero image section*/

/*#hero {
    background: url('../images/pexels-huy-phan-2277385.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*services*/
#services {
    width: 100%;
    padding: 70px 0;
}
.services .services-intro {
    text-align: center;
    padding-bottom: 70px;

}
.services-intro h1 {
    color: #009688;
    font-weight: bold;
    text-align: center;
    font-size: 40px;   
    text-transform: uppercase; 
}
.services-intro p {
    margin: auto;
    font-size: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.services-details {
    width: auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/*.services-details {
    display: flex;
}
.service-list-item {
    flex-basis: 50%;
}*/
.services-details .service-list-item {
    margin: 10px;
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
    line-height: 10px;
    position: relative;

}
.service-list-item h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    font-size: 30px;
}
.service-list-item {
    width: 50%;
    float: left;
    line-height: 10px;
    clear: both;
    margin-bottom: 20px;
}
/*.services-details div {

    width: 50%;
    clear: both;
    flex-direction: row;
    height: 500px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid blue;
    box-sizing: border-box;
    justify-content: center;

}
.service-list-item .right-side {
    width: 60%;
    float: left;
    line-height: 10px;
    clear: both;
    margin-bottom: 20px;
}
.service-list-item .left-side {
    width: 60%;
    float: right;
    line-height: 10px;
    clear: both;
    margin-bottom: 20px;
}

/*#services .services-details .service-list-item {
    flex-basis: 45%;
    margin: 2%;

}*/

/* Contact us*/

#contact {

    width: 100%;
    padding: 70px 0;
    
}
    
.contact-items {
        width: 33%;
        align-items: center;
    }
    
.contact-list-details {
        width: 100%;
        padding: 20px;
        text-align:center;
        border-radius: 10px;
        padding: 30px;
        margin: 30px;
        justify-content: center;
        align-items:center;
        box-shadow: 0 0 18px #0201012c;
        transition: .3s ease box-shadow;
    }
.contact-list-details h3 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
.contact-list-details h4 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 5px;
    }
.contact-list-details:hover {
        box-shadow: 0px 0px 5px 0 #0000002c;
    }

/* footer*/


#footer {
    background-color: #5c53532c;
    text-align: center; 
    width: 100%;
    position: absolute;
    color: black;
    display: flex;
    justify-content: center;
    height: 100px;   
    padding-top: 20px;
}

/*.social-media-links a {
min-height: 200px;
flex-direction: column;

}*/

.social-media-links i {
    color: black;


}
#footer .social-media-links {
    display: inline;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
}
.footer-links p {
    text-align: center;
    letter-spacing: 10px;
}
/*
#footer .footer-links {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

}



/*enquiry form*/

.enquiry-form {
    background-image: url('../images/office-picture.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    overflow: hidden;
    transition: none;

}
.enquiry {
    margin: 150px 10% 0 0;
    color: black;
    max-width: 700px;
    position: absolute;
    padding: 20px;
    left: 10%;
    background-color: rgba(125, 113, 113, 0.6);
    padding-left: 30px;
    position: relative;
    margin-bottom: 300px;
    margin-top: 40px;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
   
}
.enquiry h2, p {
    margin-top: 0 auto;
    margin-bottom: 15px;
    text-align: left;
} 



/*media query for tablet*/

/*@media only screen and (min-height:768px){
.services-details .service-list-item {
    flex-basis: 50%;
    margin: 1.5%;

}
.service-list-item .service-info {
    flex-direction: row;
}

}*/

/*media query for desktop*/
/*@media only screen and (min-width:1200px){
    .services-details .service-list-item {
        flex-basis: 40%;
        margin: 1.5%;
        flex-direction: row;
    }
}*/
    
