/* common style code start*/
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {

    font-size: 20px;
    font-family: 'Joan', sans-serif;
    scroll-behavior: smooth;
    background-color: #eaeddd;
    opacity: 0.95;
    z-index: -1;
    width: 100%;
}

a {
    text-decoration: none;
}

.active {
    background-color: rgba(255, 165, 0, .8);
}

h2 {
    color: rgb(2, 2, 2);
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .01rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: rgb(2, 2, 2);
    font-size: 20px;
    margin-top: 2px;
    line-height: 2rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-bottom: 8px;

}

/* common style code start*/


/* nav and logo start*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Joan', sans-serif;
    background-color: black;
    z-index: 1;
    position: relative;
}

nav {
    margin-top: 0;
    width: 100%;
}

.logo h1 {
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
}

.navigation-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 50px;
    
}

.navigation-links li {
    list-style: none;
}

.navigation-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.938rem;
}

.navigation-links a:hover {
    border-bottom: 2px solid orange;
}

/* nav and logo end*/

/* burger menu start*/

.burger-menu div {
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 3px;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

/* hero image section*/

.hero-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding-left: 48px;
    position: absolute;
}

#hero {
    background: url('../images/pexels-artem-beliaikin-3151667.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90vh;
    width: 100%;
   /* overflow: hidden;*/
    padding-bottom: 20px;
    transition: 0s;
}

.hero-statement h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 300px;
    background-color: rgba(93, 97, 97, 0.8);
    width: 900px;
    display: flex;
    line-height: 40px;
}

.hero-statement .cta {
    display: inline-block;
    padding: 5px 5px;
    color: #fff;
    background-color: black;
    border: 1px solid orange;
    text-transform: uppercase;
    letter-spacing: .02rem;
    margin-top: 5px;
    transition: .7s ease-in;
    transition-property: background-color, color;
    align-items: center;
    font-size: 15px;
}

.hero-statement .cta:hover {
    cursor: pointer;
    background-color: orange;

}

button {
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    background-color: transparent;
    background-color: black;
    border: 2px solid orange;
    text-transform: uppercase;
    letter-spacing: .02rem;
    margin-top: auto;
    margin-bottom: auto;
    transition: .5s ease-out;
    transition-property: background-color, color;
    font-size: 12px;
}

button:hover {
    cursor: pointer;
    background-color: orange;
}

/*services section*/

#services .outer-container {
    width: 100%;
     height: 90vh;
    /* margin-top: auto;*/
     margin-left: 0;
     margin-right: 0;
 }
#services .services-container {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 20vh;
}

.services-container .services-intro {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 30px;
    width: fit-content;
    
}

.services-container .services-intro h1 {
    color: #009688;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 50px;

}

.services-container .services-intro p {
    width: 1000px;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    text-align: center;
}


/*#services .services-container {
    width: 100%;
    height: 20vh;
   /* margin-top: 20px;
    margin-bottom: 10px;
}*/




.services-details .services-list-left {
    padding: 20px 30px 20px 30px;
   width: 50%;
    float: left;
    margin-bottom: 50px;
    margin-right: 0;
    flex-basis: 50%;
    align-items: left;
    }
    
.services-details .services-list-right { 
    padding: 20px 30px 20px 30px;
        float: right;
        width: 50%;
        margin-bottom: 50px;
        margin-left: 0;
        flex-basis: 50%;
        justify-content: right;
        align-items: right;
        }

.outer-container .services-details {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;

}

/*.services-details div {
width: 50%;
height: 370px;

padding: 10px 0 0 10px;
text-align: center;
border: 2px solid blue;
box-sizing: border-box;
clear: both;
justify-content: space-around;

}*/


.services-list-left h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    font-size: 25px;

}

.services-list-right h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    font-size: 25px;
  
}


.services-list-right p {
    text-align: left;
    /*justify-items: center;*/
    margin-bottom: 10px;
    font-weight: 10;
    color: black;
    font-size: 17px;
    width: 100%;
 
}
.services-list-left p {
    text-align: left;
    /*justify-items: center;*/
    margin-bottom: 10px;
    font-weight: 10;
    color: black;
    font-size: 17px;
    width: 100%;
 
}


/* Contact us*/
/*#contact .contact {
    flex-direction: column;
}*/

#contact .contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact h2 {
    text-align: center;
    justify-content: space-around;
    display: flex;
    color: #009688;
    text-transform: uppercase;

}

#contact .left-details {
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px #0201012c;
    transition: .3s ease box-shadow;
}

.left-details h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 60;
    color: #009688;
    font-size: 30px;
}

.right-details h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 60;
    color: #009688;
    font-size: 30px;
}

.middle-details h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 60;
    color: #009688;
    font-size: 30px;
}

.left-details p {
    text-align: center;
    justify-items: center;
    margin-bottom: 10px;
    font-weight: 10;
    color: black;
    font-size: 20px;
}

.right-details p {
    text-align: center;
    justify-items: center;
    margin-bottom: 10px;
    font-weight: 10;
    color: black;
    font-size: 20px;
}

.middle-details p {
    text-align: center;
    justify-items: center;
    margin-bottom: 10px;
    font-weight: 10;
    color: black;
    font-size: 20px;
}

.right-details {
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px #0201012c;
    transition: .3s ease box-shadow;
}

.middle-details {
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px #0201012c;
    transition: .3s ease box-shadow;
}

.middle-details:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

.right-details:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

.left-details:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

.contact-items-container {
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.contact-list-details h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.contact-list-details h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 5px;
}

.contact-list-details:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

/* Footer*/


.footer-links-container {
    background-color: #3424242c;
    text-align: center;
    width: 100%;
    height: 15vh;
    position: absolute;
    color: black;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.social-media-links i {
    color: black;
    font-size: 30px;
}

.social-media-links a:hover {
    box-shadow: 0px 0px 10px 0 #5804042c;
    width: .5px;
    height: .5px;
    border-radius: 50%;
    align-items: center;
}

.social-media-links a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px 15px 30px;
}

.footer-links p {
    text-align: center;
    letter-spacing: 10px;
}

/*enquiry form*/

.enquiry-form {
    background-image: url('../images/office-picture.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    transition: 0s;
}

.enquiry {
    margin: 150px 10% 0 0;
    color: black;
    max-width: 700px;
    position: absolute;
    padding: 30px;
    left: 10%;
    background-color: rgba(125, 113, 113, 0.7);
    position: relative;
    margin-bottom: 300px;
    margin-top: 90px;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;

}

.enquiry h2,
p {
    margin-top: auto;
    margin-bottom: 15px;
    text-align: left;
}




/*media queries start*/



@media only screen and (max-width: 320px) {
    html {
        font-size: 16px;
    }
    .services-intro {
        height: 400px;
    }
    .services-container {
        padding: 0 10px;
    }
    html {
        scroll-behavior: smooth;
    }
    .hero-statement h1 {
        flex-direction:column;
        /*height: 450px;
        justify-content: center;
        padding-top: 0;
        text-align: center;*/
    }
}


@media only screen and (max-width: 582px) {
    .navigation-links {
        bottom: 0;
        
    }
    button {
        display: none;
    }
    .services-container {
        padding: 0 15px;
    } 
    .services-container .services-intro p {
        flex-direction:column;
        height: 450px;
        justify-content: center;
        padding-top: 0;
        text-align: center;
    }
    html {
        scroll-behavior: smooth;
    }
}

/* Medium devices (768px and down) */
@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    .navigation-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        background-color: rgb(74, 80, 71);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navigation-links li {
        opacity: 0;
    }

    .burger-menu {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .services-intro {
        height: 400px;
    }
    .services-container {
        padding: 0 20px;
    }
    
    html {
        scroll-behavior: smooth;
    }
}

/* Large devices (1024px and down) */
  @media only screen and (max-width:1024px) {
    html {
        font-size: 18px;
    }
    .navigation-links {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }
    .services-container {
        padding: 0 15px;
    }
  }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (max-width: 1200px) {
        html {
            font-size: 15px;
        }
        
       
        #hero .hero-container {
            width: 100%;
            align-items: center;
           display: flex;
           padding-right: 0%;
        }

        #hero img {
            width: 100%;
        }
        #services .outer-container {
            width: 90%;
            height: 1300px;
            margin: 0 auto;
        }

        .services-container .services-intro p {
        text-align: center;
        width: 100%;
        margin-top: 0px;
        padding: 10px 10px;
        }
        .services-details {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 5px 5px;
        }
      }

/*@media only screen and (min-width:1280px){
    .navigation-links {
        font-size: 60%;
    }
    #services {
        margin: 0 0 20vh 0;
    }
    
}
@media only screen and (min-height:768px){
    #services {
        flex-basis: 50%;
        margin: 1.5%;

}
}*/
  
  
/*For medium screen sizes from 950px wide and down/*
@media screen and (max-width: 950px) {
    body {
        scroll-behavior: smooth;
    }

    .navigation-links {
        clear: left;
        float: left;
        margin-left: 30px;
        line-height: 25px;
    }

    .hero-container {
        float: left;
        margin-left: auto;
        width: 20%;
        text-align: center;
        align-items: center;
        font-size: x-small;
    }

    #services {
        width: 90%;
        margin: 0 auto;
    }

    .cta {
        display: none;
    }
}